{% extends "base.html" %}
{% block content %}
	<h1>Акт приема</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.client.label }}<br>
			{{ form.client }}
			{% for error in form.client.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.film.label }}<br>
			{{ form.film }}
			{% for error in form.film.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}